@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: hsl(0, 0%, 98%);
    font-family: Nunito Sans;
}

nav {
    background: white;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);
    padding: 2em 5em;
    color: hsl(200, 15%, 8%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.dark, body.dark .search, body.dark select {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    box-shadow: 3px 3px 5px hsl(200, 15%, 8%);
}

.dark .search i, .dark .search input {
    color: white;
}

h1 {
    font-size: 2em;
}

.Dark {
    height: 2.5em;
    width: 8em;
    font-size: 1.4em;
    font-weight: 600;
    font-family: Nunito Sans;
    border: none;
    background: transparent;
}

body.dark .Dark{
    color: hsl(0, 0%, 100%);
}

.container {
    padding: 5em;
}

.search {
    width: 35em;
    height: 5em;
    display: flex;
    align-items: center;
    padding: 1em;
    background: white;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);
}

.search input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    color: hsl(0, 0%, 52%);
    font-family: Nunito Sans;
    font-weight: 600;
    background: transparent;
}

.searchicon  {
    height: 100%;
    width: 3em;
    /* padding: 1em; */
    text-align: center;
    /* border: 1px solid red; */
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: hsl(0, 0%, 52%);
    font-size: 2em;
}

select {
    width: 13em;
    height: 3.2em;
    font-size: 1.5em;
    padding: 1em .5em;
    background: white;
    border: none;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);
    font-family: Nunito Sans;
    font-weight: 300;
    border-radius: .2em;
    color: hsl(200, 15%, 8%);
    outline: none;
}

select option {
    /* font-size: 1.1em; */
    padding: 2em;
    border: 1px solid red;
}

.searcharea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.countries {
    padding: 5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
}

.DisplayCountry {
    width: 27em;
    height: 35em;
    background-color: white;
    color: hsl(200, 15%, 8%);
}

body.dark .DisplayCountry {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.DisplayCountry img {
    width: 100%;
    height: 50%;
}

.CountryDetails {
    padding: 2em;
}

.CountryDetails h2 {
    font-size: 1.6em;
    margin-bottom: 1em;
    font-weight: 800;
    cursor: pointer;
 
}

.CountryDetails p {
    width: 100%;
    margin: .5em 0;
    font-size: 1.4em;
    color: hsl(0, 0%, 52%)  ;
    font-weight: 600;
}

/* .CountryDetails.dark > p {
    color: red;
} */

.title {
    color: hsl(200, 15%, 8%);
    font-weight: 600;
   
}

body.dark .title {
    color: hsl(0, 0%, 100%);
}

body.dark {
    background: hsl(207, 26%, 17%);
}

.ShowMore {
    padding: 5em;
}

body.dark .ShowMore button, body.dark .country {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    box-shadow:  3px 3px 5px hsl(200, 15%, 8%);
}

.ShowMore button {
    width: 8em;
    height: 3em;
    margin-bottom: 3em;
    font-family: Nunito Sans;
    font-weight: 600;
    background: hsl(0, 0%, 98%);
    border: none;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);;
}

button.country {
    font-family: Nunito Sans;
    font-weight: 600;
    background: hsl(0, 0%, 98%);
    border: none;
    box-shadow: 3px 3px 5px hsl(0, 0%, 52%);
    padding: .5em;
    margin: .5em;
    margin-bottom: unset;
}

.showContainer {
    display: flex;
    justify-content: space-between;
}

.showContainer img {
    width: 45%;
    height: 40em;
}

.ExpandCountry {
    width: 45%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: hsl(200, 15%, 8%);
}

.showContainer h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.showContainer p {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.h4 {
    line-height: 1;
    margin-top: 2.5em;
    width: 100%;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details p {
    color: hsl(0, 0%, 52%);
}



@media (max-width:1024px)  {
    .ShowMore {
        padding: 2em;
    }

    .showContainer {
        display: block;
    }

    .showContainer img, .ExpandCountry {
        width: 100%;
    }

    .ExpandCountry {
        padding: 2em 0;
    }

    .details {
        display: block;
    }
    
    .searcharea { 
        display: block;
    }

     .search {
        width: 100%;
    }

    .countries {
        justify-content: unset;
    }

    .DisplayCountry {
        width: 45%;
    }
}

@media (max-width:600px) {


    h1 {
        font-size: 1.8em;
    }

    .Dark {
        width: 7em;
    }

    nav {
        padding: 2em;
    }

    .container {
        padding: 2em;
    }


    select {
        margin-top: 2em;
    }

    .countries {
        /* padding: 2em; */
        justify-content: center;
    }

    .DisplayCountry {
        width: 90%;
    }


}

@media (max-width:400px) {
    .showContainer img {
        height: 25em;
    }
}